* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .btn {
  padding: 1rem 3rem;
  border-radius: 0;
  border: 0;
  font-weight: 600;
} */

/* .splide {
  display: block;
  visibility: visible;
  width: 100%;
} */

/* Hero About */

.heroabout {
  font-size: 1.5rem;
}

/* Hero About */
