/* Inter font family */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}
/* Istok Web font family */
@font-face {
  font-family: "Istok Web";
  src: url("./assets/fonts/IstokWeb-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Istok Web";
  src: url("./assets/fonts/IstokWeb-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Istok Web";
  src: url("./assets/fonts/IstokWeb-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Istok Web";
  src: url("./assets/fonts/IstokWeb-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* Kanit font family */
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
:root {
  --primary-color: #04ade6;
  --dark-primary-color: #0499cc;
  --dark-color: #1d1d1d;
  --text-dark-color: #2a2a2a;
  --primary-light-color: #ebfaff;
  --overlay-color: #04ade680;
  --overlay-light-color: #ebfaffe5;
  --light-color: #fff;
  --section-gap: clamp(2rem, 10vw, 5rem);
  font-family: "Istok Web";
  color: var(--text-dark-color);
}

.mainGrid {
  --inline-gap: 1rem;
  display: grid;
  grid-template-columns: [fullWidth-start] var(--inline-gap) [breakout-start] 1fr [content-start] min(100% - var(--inline-gap) * 2, 82.8125rem) [content-end] 1fr [breakout-end] var(--inline-gap) [fullWidth-end];
}

.fullWidth {
  grid-column: fullWidth;
}

.breakout {
  grid-column: breakout;
}

.content {
  grid-column: content;
}

.content-fullWidth {
  grid-column-start: content-start;
  grid-column-end: fullWidth-end;
  display: grid;
  grid-template-columns: subgrid;
}
@media (max-width: 1000px) {
  .content-fullWidth {
    grid-column-end: content-end;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit;
  font-weight: 700;
  line-height: 1;
  color: inherit;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

h5 {
  font-family: Inter;
  font-size: clamp(0.75rem, 3vw, 1.125rem);
  font-weight: 600;
}

h2 {
  font-family: Kanit;
  font-size: clamp(1.25rem, 5vw, 2.5rem);
}

h3 {
  font-family: Kanit;
  font-size: clamp(1.125rem, 3vw, 1.5rem);
}

p {
  font-size: clamp(0.875rem, 3vw, 1rem);
}

p.large {
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 1.33;
}

p:has(+ *) {
  margin-block-end: 1.5rem;
}

.topcontactwrapper {
  background-color: var(--dark-color);
  color: var(--primary-light-color);
}
.topcontactwrapper > div {
  display: flex;
  justify-content: space-between;
}
.topcontactwrapper .left {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.topcontactwrapper .socials {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.25rem;
}

button,
.btn {
  padding: 1rem 3rem 1rem 2rem;
  font-weight: 600;
  font-size: clamp(0.875rem, 2vw, 1rem);
  border: none;
  width: fit-content;
  cursor: pointer;
}

.heroSplide .splide__slide {
  height: auto;
  width: 100%;
  aspect-ratio: 2.5;
  position: relative;
}

.heroContent {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  color: var(--text-dark-color);
  padding: 3rem;
  background-color: var(--overlay-light-color);
  display: grid;
  gap: 1rem;
  transition: padding-inline 300ms ease, padding-block 300ms ease, width 300ms ease;
  width: min(100%, 700px);
}
@media (max-width: 700px) {
  .heroContent {
    position: relative;
    padding-inline: 1rem;
    padding-block: 2rem;
  }
}
.heroContent.outer {
  visibility: visible;
}
.heroContent button {
  background: var(--primary-color);
  color: var(--light-color);
}
.heroContent .prog_bar {
  --_progBarHeight: 2px;
  --_progBarAfterHeight: 3px;
  --progress: 0%;
  height: var(--_progBarHeight);
  width: 100%;
  background-color: color-mix(in srgb, var(--primary-color), white 60%);
  position: relative;
}
.heroContent .prog_bar::after {
  content: "";
  position: absolute;
  height: var(--_progBarAfterHeight);
  margin-top: calc(var(--_progBarHeight) - var(--_progBarAfterHeight));
  background-color: var(--primary-color);
  width: var(--progress);
  transition: width 0.3s ease-in;
}

h5.dash {
  --_color: var(--primary-color);
  --_dashWidth: calc(48rem / 16);
  position: relative;
  padding-inline-start: calc(var(--_dashWidth) + 1rem);
}
@media (max-width: 700px) {
  h5.dash {
    --_dashWidth: calc(24rem / 16);
  }
}
h5.dash.secondary {
  --_color: var(--light-color);
}
h5.dash::before {
  content: "";
  background-color: var(--_color);
  position: absolute;
  height: 3px;
  width: var(--_dashWidth);
  inset-block: 0;
  margin-block: auto;
  inset-inline-start: 0;
}
@media (max-width: 700px) {
  h5.dash::before {
    height: 2px;
  }
}

button:has(> .arrow) {
  --_color: var(--light-color);
  position: relative;
  color: var(--_color);
}
button:has(> .arrow).btn-secondary {
  --_color: var(--primary-color);
}
button:has(> .arrow) .arrow::after {
  content: ">";
  font-size: 1.5rem;
  position: absolute;
  inset-inline-end: 1rem;
  inset-block: 0;
  line-height: 1;
  margin-block: auto;
  height: fit-content;
  font-weight: 400;
  transition: none;
}
button:has(> .arrow) .arrow::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0rem;
  margin-block: auto;
  inset-inline-end: 1.25rem;
  inset-block: 0;
  background-color: var(--_color);
  transition: none;
}
button:has(> .arrow):not(:hover) .arrow::after {
  animation: hoverOutEffectArrow 300ms ease-in-out forwards 300ms;
}
button:has(> .arrow):not(:hover) .arrow::before {
  animation: hoverOutEffectLine 300ms ease-in-out forwards 0ms;
}
button:has(> .arrow):hover .arrow::after {
  animation: hoverInEffectArrow 300ms ease-in-out forwards 0ms;
}
button:has(> .arrow):hover .arrow::before {
  animation: hoverInEffectLine 300ms ease-in-out forwards 300ms;
}

@keyframes hoverInEffectArrow {
  from {
    inset-inline-end: 1.55rem;
  }
  to {
    inset-inline-end: 1rem;
  }
}
@keyframes hoverOutEffectArrow {
  from {
    inset-inline-end: 1rem;
  }
  to {
    inset-inline-end: 1.55rem;
  }
}
@keyframes hoverInEffectLine {
  from {
    width: 0rem;
  }
  to {
    width: 1.3rem;
  }
}
@keyframes hoverOutEffectLine {
  from {
    width: 1.3rem;
  }
  to {
    width: 0rem;
  }
}
.heroabout {
  display: grid;
  padding-block: var(--section-gap);
  row-gap: 1rem;
  column-gap: 2rem;
}
@media (min-width: 700px) {
  .heroabout {
    grid-template-columns: 1fr 4fr;
  }
}
.heroabout .left {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.primarybg {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-secondary {
  background-color: var(--light-color);
  color: var(--primary-color);
}

a {
  width: max-content;
  cursor: pointer;
}
a button {
  cursor: pointer;
}

section.whatWeDo {
  margin-block: var(--section-gap);
  padding-block: var(--section-gap);
}
section.whatWeDo > div > * {
  margin-block: 1rem;
}
section.whatWeDo > div > *:first-child {
  margin-block-start: 0;
}
section.whatWeDo > div > *:last-child {
  margin-block-end: 0;
}
section.whatWeDo .imgGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 18.75rem) {
  section.whatWeDo .imgGrid {
    grid-template-columns: 1fr;
  }
}
section.whatWeDo .imgGrid .grid-item {
  position: relative;
  border-image: fill 0 linear-gradient(180deg, rgba(0, 0, 0, 0) 64.86%, rgba(0, 0, 0, 0.7) 85.33%);
  aspect-ratio: 0.75;
  overflow: hidden;
}
section.whatWeDo .imgGrid .grid-item .accordionEffect {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}
@media (max-width: 700px) {
  section.whatWeDo .imgGrid .grid-item .accordionEffect {
    grid-template-rows: 1fr;
  }
}
section.whatWeDo .imgGrid .grid-item .accordionEffect > div {
  overflow: hidden;
}
section.whatWeDo .imgGrid .grid-item img {
  width: 100%;
  aspect-ratio: 0.75;
  object-fit: cover;
  z-index: -1;
  position: relative;
  display: block;
  transition: scale 300ms ease;
}
section.whatWeDo .imgGrid .grid-item:hover .accordionEffect {
  grid-template-rows: 1fr;
}
section.whatWeDo .imgGrid .grid-item:hover img {
  scale: 1.1;
}
section.whatWeDo .imgGrid .grid-item .txtWrapper {
  position: absolute;
  inset-inline: 1rem;
  inset-block-end: 0.5rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
section.whatWeDo .imgGrid .grid-item .txtWrapper .titleWrapper {
  display: flex;
  gap: 0.5rem;
}
section.whatWeDo .imgGrid .grid-item .txtWrapper .number {
  color: var(--primary-color);
  font-weight: 700;
  font-family: kanit;
  font-size: clamp(3.25rem, 10vw, 4rem);
  line-height: 1;
}
section.whatWeDo .imgGrid .grid-item .txtWrapper .imgLabel {
  font-family: Kanit;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 700;
  line-height: 1.1;
  word-spacing: 100vmax;
}

section.initiative {
  background-color: var(--primary-light-color);
  padding-block: var(--section-gap);
  color: var(--text-dark-color);
}
section.initiative p {
  font-family: "Istok Web";
}
section.initiative > div {
  display: grid;
  column-gap: 1rem;
  row-gap: 3rem;
}
@media (min-width: 700px) {
  section.initiative > div {
    grid-template-columns: 2fr 5fr;
  }
}
section.initiative .contentWrapper {
  display: grid;
  gap: 2rem;
  row-gap: 3rem;
}
section.initiative .contentWrapper .grid-item {
  display: grid;
  gap: 1rem;
  text-align: center;
  place-items: center;
}
@media (min-width: 700px) {
  section.initiative .contentWrapper .grid-item {
    grid-template-columns: 100px 1fr;
    text-align: start;
    place-items: start;
  }
}
section.initiative .contentWrapper .grid-item .truncateWrapper > * {
  margin-block: 0.5rem;
}
section.initiative .contentWrapper .grid-item .truncateWrapper > *:first-child {
  margin-block-start: 0;
}
section.initiative .contentWrapper .grid-item .truncateWrapper > *:last-child {
  margin-block-end: 0;
}
section.initiative .contentWrapper .grid-item .truncateWrapper button {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  color: var(--primary-color);
  text-transform: capitalize;
  background-color: transparent;
  place-self: center;
  margin-inline: auto;
}
section.initiative .contentWrapper .grid-item .truncateWrapper .truncate + button object {
  position: absolute;
  inset-inline-end: 1rem;
  transition: rotate 100ms ease;
  rotate: 0deg;
  pointer-events: none;
}
section.initiative .contentWrapper .grid-item .truncateWrapper .truncate.truncate--expanded + button object {
  rotate: 180deg;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: var(--truncate-height, auto);
  transition: max-height 0.3s ease;
}

.truncate--expanded {
  max-height: var(--truncate-height-expanded, auto);
}

.truncate--line-clamped {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.headerWrapper > * {
  margin-block: 1rem;
}
.headerWrapper > *:first-child {
  margin-block-start: 0;
}
.headerWrapper > *:last-child {
  margin-block-end: 0;
}

section.updates {
  margin-block: var(--section-gap);
  padding-block: var(--section-gap);
}
section.updates > div {
  display: grid;
  gap: 2rem;
}
section.updates .updateGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1rem;
}
@media (max-width: 18.75rem) {
  section.updates .updateGrid {
    grid-template-columns: 1fr;
  }
}
section.updates .updateGrid .grid-item {
  display: grid;
  gap: 0.5rem;
  overflow: hidden;
}
section.updates .updateGrid .grid-item object {
  margin-block-start: -2px;
}
section.updates .updateGrid .grid-item img {
  width: 100%;
  aspect-ratio: 317/217;
  object-fit: cover;
}
section.updates .updateGrid .grid-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
}
section.updates .updateGrid .grid-item button {
  padding-inline-start: 0;
  --_color: var(--primary-color);
  background-color: transparent;
}

section.resources {
  padding-block: var(--section-gap);
  border-image: fill 0 linear-gradient(0deg, rgba(4, 173, 230, 0.5), rgba(4, 173, 230, 0.5));
  background-image: var(--backgroundUrl);
  color: var(--light-color);
}
section.resources > div {
  display: grid;
  gap: 2rem;
}
section.resources .contentWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  gap: 1.25rem;
}
@media (max-width: 21.875rem) {
  section.resources .contentWrapper {
    grid-template-columns: 1fr;
  }
}
section.resources .contentWrapper .grid-item {
  display: block;
  width: 100%;
  font-family: Kanit;
  font-weight: 700;
  font-size: clamp(1.125rem, 3vw, 1.5rem);
  align-items: center;
  display: flex;
  gap: 1rem;
  background-color: var(--primary-color);
  place-content: center;
  padding-block: 2rem;
  text-decoration: none;
  color: inherit;
}
section.resources .contentWrapper .grid-item object {
  width: 70px;
  height: auto;
}

section.blogs {
  margin-block: var(--section-gap);
  padding-block: var(--section-gap);
}
section.blogs > div {
  display: grid;
  gap: 2rem;
}
section.blogs .contentWrapper {
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 43.75rem) {
  section.blogs .contentWrapper {
    grid-template-columns: repeat(12, 1fr);
  }
}
section.blogs .contentWrapper .grid-item {
  display: grid;
  gap: 0.5rem;
}
section.blogs .contentWrapper .grid-item object {
  margin-block-start: -2px;
}
section.blogs .contentWrapper .grid-item button {
  background-color: transparent;
  --_color: var(--primary-color);
  padding-inline-start: 0;
}
section.blogs .contentWrapper .grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
section.blogs .contentWrapper .grid-item p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
@media (min-width: 43.75rem) {
  section.blogs .contentWrapper .grid-item {
    grid-column: span 4;
  }
  section.blogs .contentWrapper .grid-item:nth-child(-n+2) {
    grid-column: span 6;
  }
}

footer {
  color: var(--light-color);
}
footer .footerLogo,
footer .footerIcon {
  filter: brightness(0) invert(1);
}
footer .top {
  background-color: var(--primary-color);
  padding-block: var(--section-gap);
}
footer .top > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
footer .top > div .grid-item {
  display: grid;
  gap: 1rem;
  grid-auto-rows: max-content;
}
footer .bot {
  background-color: var(--dark-primary-color);
}
footer .bot > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .bot ul {
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
footer .bot ul a {
  color: inherit;
  text-underline-offset: 2px;
}
footer .menuList {
  display: grid;
  align-content: center;
  align-items: center;
  padding-inline-start: 0;
  text-align: start;
  list-style: none;
}
footer .menuList a {
  color: inherit;
  text-underline-offset: 2px;
  display: flex;
  align-items: center;
  align-content: center;
}
footer .menuList a:not(:hover) {
  text-decoration: none;
}
footer .menuList object:not(.noRotate) {
  rotate: -90deg;
  margin-top: -2px;
}
footer .menuList object.noRotate {
  margin-inline-end: 1rem;
  margin-block: 0.5rem;
}
footer .menuList object.scale {
  scale: 2;
}

.newsLetter {
  display: flex;
}
.newsLetter > * {
  display: block;
  border: none;
  border-radius: 0;
}
.newsLetter input {
  background-color: var(--overlay-light-color);
  color: #777777;
  font-size: 0.875rem;
  padding-inline: 1rem;
}
.newsLetter button {
  background-color: var(--light-color);
  color: var(--primary-color);
  font-weight: 600;
  font-family: Kanit;
  font-size: 1rem;
  padding-inline: 1rem;
}

.bannerSm {
  min-height: max(30vh, 400px);
  position: relative;
  display: flex;
}
.bannerSm::before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-color: rgba(4, 173, 230, 0.5019607843);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.bannerSm img {
  position: absolute;
  inset: 0;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  z-index: -2;
}
.bannerSm .txtWrapper {
  width: 100%;
  margin-block: auto;
  color: var(--light-color);
}

section.txtImg {
  margin-block: var(--section-gap);
  padding-block: var(--section-gap);
}
section.txtImg .content {
  display: grid;
  gap: 2rem;
}
@media (min-width: 62.5rem) {
  section.txtImg .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
section.txtImg .content .imgWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
section.txtImg .content .imgWrapper img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.timelineGrid {
  display: grid;
  position: relative;
}
@media (min-width: 1200px) {
  .timelineGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.timelineGrid .event {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  column-gap: 1rem;
}
.timelineGrid .event .eventContent {
  padding-bottom: 1rem;
}
.timelineGrid .event h2.heading {
  font-size: clamp(1.125rem, 5vw, 2rem);
  color: #04ade6;
}
.timelineGrid .event .label {
  font-weight: 700;
  color: #2a2a2a;
}
.timelineGrid .event ul {
  color: #3d3d3d;
}
.timelineGrid .event ul li {
  margin-inline-start: 1.5rem;
}
.timelineGrid .event .icons {
  position: relative;
}
.timelineGrid .event .icons .circleLg {
  border: 4px solid #2a2a2a;
  background-color: #fff;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 25px;
  position: relative;
  margin-block-start: 0.25rem;
}
.timelineGrid .event .icons .circleLg::after {
  position: absolute;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #2a2a2a;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  justify-self: center;
  align-self: center;
  content: "";
}
.timelineGrid .event .icons .lineVertical {
  height: 100%;
  width: 4px;
  background-color: #2a2a2a;
  position: absolute;
  inset-inline-start: 11px;
  margin-top: -25px;
  z-index: -1;
}
.timelineGrid .event .icons .lineHorizontal {
  height: 2px;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.5019607843);
  position: absolute;
  inset-inline-end: 4px;
  inset-inline-start: 6px;
  inset-block-start: 14.5px;
  z-index: -1;
}
.timelineGrid .event:last-child .icons .lineVertical {
  background-color: transparent;
}
@media (max-width: 1200px) {
  .timelineGrid .watermark {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .timelineGrid .watermark img {
    position: absolute;
    height: auto;
    width: 100%;
    object-fit: scale-down;
  }
}

/*# sourceMappingURL=style2.css.map */
